In [2]:
import pandas as pd

In [3]:
with open('tweets.csv', 'r') as f:
    df = pd.read_csv(f)

In [4]:
df = df.dropna()

In [5]:
# –ó–∞–¥–∞–Ω–∏–µ 1

In [6]:
df[df['author_name'].apply(lambda x: len(x.split())) > 1] \
                    .groupby('author_name') \
                    .agg({'tweet_content': lambda x: min(x, key=len)})

                                                             tweet_content
author_name
'(Robert Smith)          A lecture on the spirit of the computer, recen...
(((E. Glen Weyl)))       Couldn't be more excited to put out probably m...
(((Matthew Lewis)))      "This could be huge."\n\nFolks, this *is* huge...
(‚óî_‚óî) ¬Ø\_(„ÉÑ)_/¬Ø          @EdLatimore The problem is twofold:\n\n1. Suga...
1jack üå±                  Institutional money is going to move into this...
...                                                                    ...
üî• #Author Abraham Lopez  @EdLatimore Misery doesn‚Äôt just love company, ...
üî≠üåÉJana Grcevich üì°üöÄ       Hey #ancientegypt twitter: I would love to kno...
üî±Master of Ecstasyüî±      I HAVE A NEW FAVORITE WORD:\n\nAPOTHEOSIS:\n\n...
ü§ôüèΩ Bobby D ü§üüèΩ            Ben Roethlisberger and Mike Tomlin watching th...
ü¶â Wisdomination ü¶â        @naval American university is a peculiar mixtu...

[2170 rows x 1 columns]

In [7]:
# –ó–∞–¥–∞–Ω–∏–µ 2

In [8]:
import emoji

In [9]:
emoji_list = df['tweet_content'].apply(emoji.emoji_lis).sum()

In [10]:
emoji_df = pd.DataFrame(emoji_list)
emoji_df['emoji'].value_counts().head(30)

‚úÖ    117
üëá    101
üòÇ    101
üî•     52
üôè     41
üèª     41
üèΩ     38
üëè     34
‚ù§     32
üö®     30
‚ôÇ     30
üá∏     30
üá∫     29
üèº     26
üë®     20
‚ö´     19
üë©     18
üëç     18
ü§î     17
üèæ     17
üíØ     17
üÜï     16
üôå     16
üöÄ     15
üí™     15
‚ôÄ     15
üëâ     14
üë¶     13
‚§µ     13
üôÑ     13
Name: emoji, dtype: int64

In [11]:
# –ó–∞–¥–∞–Ω–∏–µ 3

In [12]:
import nltk
from nltk.stem import WordNetLemmatizer

In [13]:
with open('positive-words.txt', 'r', encoding='latin-1') as pos, \
     open('negative-words.txt', 'r', encoding='latin-1') as neg:
    positive = set(pos.read().splitlines()[35:])
    negative = set(neg.read().splitlines()[35:])

lemmatizer = WordNetLemmatizer()

In [14]:
def count_sentiment(tweet, positive=positive, negative=negative, lemmatizer=lemmatizer):
    
    word_list = nltk.word_tokenize(tweet)
    score = 0
    
    for word in word_list:
        word = lemmatizer.lemmatize(word)
        if word in positive:
            score += 1
        elif word in negative:
            score -= 1
    
    return score

In [15]:
df['sentiment_score'] = df['tweet_content'].apply(count_sentiment)

In [16]:
df.head()

,author_name,created_at,handle,likes,retweets,tweet_content,sentiment_score
0,Naval,2019-08-07 22:36:56,naval,7566,1498,"Unresolved thoughts, prematurely pushed out of...",-2
1,Naval,2019-08-07 05:00:38,naval,21886,5984,The modern mind is overstimulated and the mode...,2
2,Naval,2019-08-07 04:52:33,naval,6462,1266,The Lindy Effect for startups:\n\nThe longer y...,0
3,Naval,2019-08-06 08:35:26,naval,466,61,@orangebook_ This was a good tweet.,1
4,Naval,2019-08-06 07:33:20,naval,3971,906,Social media lowers the cost of raising &amp; ...,-1

In [17]:
df.sort_values(by='sentiment_score')

,author_name,created_at,handle,likes,retweets,tweet_content,sentiment_score
18682,Sahil Lavingia,2019-08-14 20:02:29,shl,11555,2903,Being a founder is hard. Being an early employ...,-12
3243,Wealth Theory ‚Ñ¢,2019-05-29 18:28:50,Wealth_Theory,66,11,When a naive investor who saw no risk suddenly...,-11
3365,Wealth Theory ‚Ñ¢,2019-05-03 03:20:31,Wealth_Theory,111,19,When a naive investor who saw no risk suddenly...,-11
3626,Wealth Theory ‚Ñ¢,2019-02-22 15:38:40,Wealth_Theory,93,16,When a naive investor who saw no risk suddenly...,-11
24316,The Ancient Sage,2018-06-08 01:11:17,TheAncientSage,53,15,"We unconsciously flee from our problems, seeki...",-10
...,...,...,...,...,...,...,...
24374,The Ancient Sage,2018-05-20 06:46:30,TheAncientSage,92,21,Being kind to others is the most effective way...,9
26265,deep_thrill,2019-07-29 23:13:25,DeeperThrill,5,1,"""If you have an actual perfect virtue, and not...",9
29478,Max Panzer,2019-04-28 20:35:53,becomingaforce,381,91,"Men, DO YOUR DUTY each day...\n\n- maximum eff...",10
519,Naval,2018-08-10 04:39:23,naval,33160,12293,Doctors won‚Äôt make you healthy.\n\nNutritionis...,10
10518,Zen Black,2018-11-05 06:10:53,z3nblack,8,0,Truth lies in a bit of this and a bit of that....,12