In [127]:
import pandas as pd

In [130]:
with open('tweets.csv', 'r') as f:
    df = pd.read_csv(f)

In [131]:
df = df.dropna()

In [132]:
# Задание 1

In [133]:
df[df['author_name'].apply(lambda x: len(x.split())) > 1] \
                    .groupby('author_name') \
                    .agg({'tweet_content': lambda x: min(x, key=len)})

                                                             tweet_content
author_name
'(Robert Smith)          A lecture on the spirit of the computer, recen...
(((E. Glen Weyl)))       Couldn't be more excited to put out probably m...
(((Matthew Lewis)))      "This could be huge."\n\nFolks, this *is* huge...
(◔_◔) ¯\_(ツ)_/¯          @EdLatimore The problem is twofold:\n\n1. Suga...
1jack 🌱                  Institutional money is going to move into this...
...                                                                    ...
🔥 #Author Abraham Lopez  @EdLatimore Misery doesn’t just love company, ...
🔭🌃Jana Grcevich 📡🚀       Hey #ancientegypt twitter: I would love to kno...
🔱Master of Ecstasy🔱      I HAVE A NEW FAVORITE WORD:\n\nAPOTHEOSIS:\n\n...
🤙🏽 Bobby D 🤟🏽            Ben Roethlisberger and Mike Tomlin watching th...
🦉 Wisdomination 🦉        @naval American university is a peculiar mixtu...

[2170 rows x 1 columns]

In [134]:
# Задание 2

In [135]:
import emoji

In [136]:
emoji_list = df['tweet_content'].apply(emoji.emoji_lis).sum()

In [137]:
emoji_df = pd.DataFrame(emoji_list)
emoji_df['emoji'].value_counts().head(30)

✅    117
😂    101
👇    101
🔥     52
🙏     41
🏻     41
🏽     38
👏     34
❤     32
🚨     30
♂     30
🇸     30
🇺     29
🏼     26
👨     20
⚫     19
👩     18
👍     18
💯     17
🏾     17
🤔     17
🆕     16
🙌     16
🚀     15
💪     15
♀     15
👉     14
⤵     13
🤣     13
🙄     13
Name: emoji, dtype: int64

In [138]:
# Задание 3

In [139]:
import nltk
from nltk.stem import WordNetLemmatizer

In [152]:
with open('positive-words.txt', 'r', encoding='latin-1') as pos, \
     open('negative-words.txt', 'r', encoding='latin-1') as neg:
    positive = set(pos.read().splitlines()[35:])
    negative = set(neg.read().splitlines()[35:])

lemmatizer = WordNetLemmatizer()

In [153]:
def count_sentiment(tweet, positive=positive, negative=negative, lemmatizer=lemmatizer):
    
    word_list = nltk.word_tokenize(tweet)
    score = 0
    
    for word in word_list:
        word = lemmatizer.lemmatize(word)
        if word in positive:
            score += 1
        elif word in negative:
            score -= 1
    
    return score

In [154]:
df['sentiment_score'] = df['tweet_content'].apply(count_sentiment)

In [155]:
df.head()

,author_name,created_at,handle,likes,retweets,tweet_content,sentiment_score
0,Naval,2019-08-07 22:36:56,naval,7566,1498,"Unresolved thoughts, prematurely pushed out of...",-2
1,Naval,2019-08-07 05:00:38,naval,21886,5984,The modern mind is overstimulated and the mode...,2
2,Naval,2019-08-07 04:52:33,naval,6462,1266,The Lindy Effect for startups:\n\nThe longer y...,0
3,Naval,2019-08-06 08:35:26,naval,466,61,@orangebook_ This was a good tweet.,1
4,Naval,2019-08-06 07:33:20,naval,3971,906,Social media lowers the cost of raising &amp; ...,-1