In [127]:
import pandas as pd

In [130]:
with open('tweets.csv', 'r') as f:
    df = pd.read_csv(f)

In [131]:
df = df.dropna()

In [132]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 1

In [133]:
df[df['author_name'].apply(lambda x: len(x.split())) > 1] \
                    .groupby('author_name') \
                    .agg({'tweet_content': lambda x: min(x, key=len)})

                                                             tweet_content
author_name
'(Robert Smith)          A lecture on the spirit of the computer, recen...
(((E. Glen Weyl)))       Couldn't be more excited to put out probably m...
(((Matthew Lewis)))      "This could be huge."\n\nFolks, this *is* huge...
(â—”_â—”) Â¯\_(ãƒ„)_/Â¯          @EdLatimore The problem is twofold:\n\n1. Suga...
1jack ğŸŒ±                  Institutional money is going to move into this...
...                                                                    ...
ğŸ”¥ #Author Abraham Lopez  @EdLatimore Misery doesnâ€™t just love company, ...
ğŸ”­ğŸŒƒJana Grcevich ğŸ“¡ğŸš€       Hey #ancientegypt twitter: I would love to kno...
ğŸ”±Master of EcstasyğŸ”±      I HAVE A NEW FAVORITE WORD:\n\nAPOTHEOSIS:\n\n...
ğŸ¤™ğŸ½ Bobby D ğŸ¤ŸğŸ½            Ben Roethlisberger and Mike Tomlin watching th...
ğŸ¦‰ Wisdomination ğŸ¦‰        @naval American university is a peculiar mixtu...

[2170 rows x 1 columns]

In [134]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 2

In [135]:
import emoji

In [136]:
emoji_list = df['tweet_content'].apply(emoji.emoji_lis).sum()

In [137]:
emoji_df = pd.DataFrame(emoji_list)
emoji_df['emoji'].value_counts().head(30)

âœ…    117
ğŸ˜‚    101
ğŸ‘‡    101
ğŸ”¥     52
ğŸ™     41
ğŸ»     41
ğŸ½     38
ğŸ‘     34
â¤     32
ğŸš¨     30
â™‚     30
ğŸ‡¸     30
ğŸ‡º     29
ğŸ¼     26
ğŸ‘¨     20
âš«     19
ğŸ‘©     18
ğŸ‘     18
ğŸ’¯     17
ğŸ¾     17
ğŸ¤”     17
ğŸ†•     16
ğŸ™Œ     16
ğŸš€     15
ğŸ’ª     15
â™€     15
ğŸ‘‰     14
â¤µ     13
ğŸ¤£     13
ğŸ™„     13
Name: emoji, dtype: int64

In [138]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 3

In [139]:
import nltk
from nltk.stem import WordNetLemmatizer

In [152]:
with open('positive-words.txt', 'r', encoding='latin-1') as pos, \
     open('negative-words.txt', 'r', encoding='latin-1') as neg:
    positive = set(pos.read().splitlines()[35:])
    negative = set(neg.read().splitlines()[35:])

lemmatizer = WordNetLemmatizer()

In [153]:
def count_sentiment(tweet, positive=positive, negative=negative, lemmatizer=lemmatizer):
    
    word_list = nltk.word_tokenize(tweet)
    score = 0
    
    for word in word_list:
        word = lemmatizer.lemmatize(word)
        if word in positive:
            score += 1
        elif word in negative:
            score -= 1
    
    return score

In [154]:
df['sentiment_score'] = df['tweet_content'].apply(count_sentiment)

In [155]:
df.head()

,author_name,created_at,handle,likes,retweets,tweet_content,sentiment_score
0,Naval,2019-08-07 22:36:56,naval,7566,1498,"Unresolved thoughts, prematurely pushed out of...",-2
1,Naval,2019-08-07 05:00:38,naval,21886,5984,The modern mind is overstimulated and the mode...,2
2,Naval,2019-08-07 04:52:33,naval,6462,1266,The Lindy Effect for startups:\n\nThe longer y...,0
3,Naval,2019-08-06 08:35:26,naval,466,61,@orangebook_ This was a good tweet.,1
4,Naval,2019-08-06 07:33:20,naval,3971,906,Social media lowers the cost of raising &amp; ...,-1