In [45]:
import pandas as pd

In [46]:
with open('tweets.csv', 'r') as f:
    df = pd.read_csv(f)

In [47]:
df = df.dropna()

In [48]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 1

In [49]:
df[df['author_name'].apply(lambda x: len(x.split())) > 1] \
                    .groupby('author_name') \
                    .agg({'tweet_content': lambda x: min(x, key=len)})

                                                             tweet_content
author_name
'(Robert Smith)          A lecture on the spirit of the computer, recen...
(((E. Glen Weyl)))       Couldn't be more excited to put out probably m...
(((Matthew Lewis)))      "This could be huge."\n\nFolks, this *is* huge...
(â—”_â—”) Â¯\_(ãƒ„)_/Â¯          @EdLatimore The problem is twofold:\n\n1. Suga...
1jack ğŸŒ±                  Institutional money is going to move into this...
...                                                                    ...
ğŸ”¥ #Author Abraham Lopez  @EdLatimore Misery doesnâ€™t just love company, ...
ğŸ”­ğŸŒƒJana Grcevich ğŸ“¡ğŸš€       Hey #ancientegypt twitter: I would love to kno...
ğŸ”±Master of EcstasyğŸ”±      I HAVE A NEW FAVORITE WORD:\n\nAPOTHEOSIS:\n\n...
ğŸ¤™ğŸ½ Bobby D ğŸ¤ŸğŸ½            Ben Roethlisberger and Mike Tomlin watching th...
ğŸ¦‰ Wisdomination ğŸ¦‰        @naval American university is a peculiar mixtu...

[2170 rows x 1 columns]

In [50]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 2

In [51]:
import emoji

In [52]:
emoji_list = df['tweet_content'].apply(emoji.emoji_lis).sum()

In [53]:
emoji_df = pd.DataFrame(emoji_list)
emoji_df['emoji'].value_counts().head(30)

âœ…    117
ğŸ˜‚    101
ğŸ‘‡    101
ğŸ”¥     52
ğŸ™     41
ğŸ»     41
ğŸ½     38
ğŸ‘     34
â¤     32
â™‚     30
ğŸš¨     30
ğŸ‡¸     30
ğŸ‡º     29
ğŸ¼     26
ğŸ‘¨     20
âš«     19
ğŸ‘     18
ğŸ‘©     18
ğŸ’¯     17
ğŸ¤”     17
ğŸ¾     17
ğŸ†•     16
ğŸ™Œ     16
ğŸ’ª     15
â™€     15
ğŸš€     15
ğŸ‘‰     14
ğŸ™„     13
ğŸ‘¦     13
â¤µ     13
Name: emoji, dtype: int64

In [54]:
# Ğ—Ğ°Ğ´Ğ°Ğ½Ğ¸Ğµ 3

In [55]:
import nltk
from nltk.stem import WordNetLemmatizer
from collections import Counter

In [56]:
with open('positive-words.txt', 'r', encoding='latin-1') as pos, \
     open('negative-words.txt', 'r', encoding='latin-1') as neg:
    positive = set(pos.read().splitlines()[35:])
    negative = set(neg.read().splitlines()[35:])

lemmatizer = WordNetLemmatizer()

In [57]:
def count_sentiment(tweet, positive=positive, negative=negative, lemmatizer=lemmatizer):
    
    word_list = nltk.word_tokenize(tweet)
    score = 0
    
    for word in word_list:
        word = lemmatizer.lemmatize(word)
        if word in positive:
            score += 1
        elif word in negative:
            score -= 1
    
    return score

In [58]:
df['sentiment_score'] = df['tweet_content'].apply(count_sentiment)

In [78]:
top = df[df['sentiment_score'] > 5][['tweet_content', 'sentiment_score']]
top.sort_values(by='sentiment_score', ascending=False)

                                           tweet_content  sentiment_score
10518  Truth lies in a bit of this and a bit of that....               12
519    Doctors wonâ€™t make you healthy.\n\nNutritionis...               10
29478  Men, DO YOUR DUTY each day...\n\n- maximum eff...               10
24374  Being kind to others is the most effective way...                9
2539   "If you have one good move that gains a clear ...                9
...                                                  ...              ...
12959  Whether is physical or mental performances, me...                6
12825  Financial freedom is not a goal.\nFinancial fr...                6
12780  You canâ€™t love anyone as long as you havenâ€™t b...                6
12732  A simple indicator to ascertain that Iâ€™m not i...                6
30826  Senses are helping tools for intuition.\n\nHea...                6

[154 rows x 2 columns]

In [79]:
bottom = df[df['sentiment_score'] < -5][['tweet_content', 'sentiment_score']]
bottom.sort_values(by='sentiment_score', ascending=True)

                                           tweet_content  sentiment_score
18682  Being a founder is hard. Being an early employ...              -12
3626   When a naive investor who saw no risk suddenly...              -11
3365   When a naive investor who saw no risk suddenly...              -11
3243   When a naive investor who saw no risk suddenly...              -11
24316  We unconsciously flee from our problems, seeki...              -10
...                                                  ...              ...
13074  As long as you are afraid of being alone,\n\na...               -6
12712  A common mistake of parents is to hide unprais...               -6
12697  Youth is the greatest asset you have in your 2...               -6
14925  "The vision of the left, full of envy and rese...               -6
31086  People who laugh at others weaknesses have no ...               -6

[149 rows x 2 columns]